
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>{{ this.translate.data["Download Our App"] | translate }}</h3>
        <p>{{ this.translate.data["Download App for Android and ios mobile phone"] | translate }}</p>
        <div class="app-logo">
          <img src="../../../assets/images/logo.png" >

        </div>
      </div>
      <div class="footer-col-2">
        <img src="../../../assets/images/logo.png">
        <p>Our Purpose Is To Sustainably Make the Pleasure and
          Benefits of Sports Accessible to the Many</p>
      </div>
      <div class="footer-col-3">
        <h3>{{ this.translate.data["Useful Links"] | translate }}</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>{{ this.translate.data["Follow us"] | translate }}</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Youtube </li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="Copyright">{{ this.translate.data["Copyright 2020 - By SunriseTeam"] | translate }}</p>
  </div>
</div>





