<img src="../../../assets/images/e1.jpg" height="450" width="100%"/>


<div id="content" class="container-fluid">
  <div class="row">
    <div class="container info-about">

      <div class="row">
        <div class="col-md-12" style="padding-top: 20px">
          <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
          <style type="text/css">body {font-family: arial !important}</style>
          <h3 style="color: #ff7315;">CHÍNH SÁCH GIAO NHẬN - VẬN CHUYỂN</h3>

          <strong>Quý khách hàng vui lòng thanh toán mọi chi phí liên quan tới tiền vận chuyển theo cách thức sau:</strong>

          <p>+ Thanh toán trực tiếp chi phí vận chuyển cho nhân viên vận chuyển hàng hóa.<br />
            + Thanh toán chuyển khoản/ thanh toán trực tuyến cho Sunrise bao gồm tiền hàng và tiền vận chuyển. Bảng cước phí vận chuyển được áp dụng theo bảng cước của đối tác vận chuyển.<br />
            Q&A<br />
            <strong>Tôi có thể nhận được đơn hàng ở đâu?</strong><br />
            - Đơn hàng có thể được gửi tới địa chỉ do quý khách chọn (nhà riêng, cơ quan).<br />
            <strong>Quốc gia giao hàng có được khác với quốc gia mua hàng không?</strong><br />
            - Không. Quốc gia giao hàng phải luôn giống với quốc gia mua hàng.<br />
            <strong>Mất bao lâu thì đơn hàng của tôi sẽ đến?</strong><br />
            - Thời gian giao hàng tiêu chuẩn và giao hàng tại Cửa hàng là từ 3 đến 7 ngày làm việc.<br />
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
