<img src="../../../assets/images/bc1.png" height="450" width="100%"/>
<br/><br/><br/>

<h1 align="center" class="display-4 mb-5">{{ this.translate.data["My Cart"] | translate }}</h1>

<!--Cart Detail Table-->
<div class="col-10" style="margin: auto">
<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">{{ this.translate.data["Photo"] | translate }}</th>
        <th scope="col">{{ this.translate.data["Name"] | translate }}</th>
        <th scope="col">{{ this.translate.data["Pricee"] | translate }}</th>
        <th scope="col">{{ this.translate.data["Quantityy"] | translate }}</th>
        <th scope="col">{{ this.translate.data["Subtotall"] | translate }}</th>
        <th scope="col">{{ this.translate.data["Action"] | translate }}</th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let productInOrder of productInOrders">
        <th class="align-middle" scope="row">
            <a routerLink="/product/{{productInOrder.productId}}"><img height="100px"
                                                                       src="{{productInOrder.productIcon}}"
                                                                       alt="{{productInOrder.productName}}"></a>
        </th>
        <td class="align-middle"><a
                routerLink="/product/{{productInOrder.productId}}">{{productInOrder.productName}}</a></td>
        <td class="align-middle">{{productInOrder.productPrice | currency}}</td>

        <td class="align-middle">
            <a (click)="minusOne(productInOrder)"><i class="fa fa-minus"></i></a>
            <input min="1" id="{{productInOrder.productId}}"
                   [max]=productInOrder.productStock
                   [(ngModel)]="productInOrder.count"
                   (change)="onChange(productInOrder)"
                   size="5"
                   type="number"
                   required
                   name='count'>
            <a (click)="addOne(productInOrder)"> <i class="fa fa-plus"></i></a>
        </td>

        <td class="align-middle">{{productInOrder.productPrice * productInOrder.count|currency}}</td>
        <td class="align-middle">
            <a (click)="remove(productInOrder)" routerLink="./">{{ this.translate.data["Remove"] | translate }}</a>
        </td>
    </tr>

    </tbody>
</table>



<div *ngIf="productInOrders?.length > 0; else empty">
    <h5 style="display: inline;">{{ this.translate.data["Total"] | translate }}: {{total | currency}}</h5>
    <button (click)="checkout()" class="btn btn-warning float-right">{{ this.translate.data["Checkout"] | translate }}</button>
</div>
<ng-template #empty>
    <h4 class="text-muted text-center">{{ this.translate.data["Cart is empty. Go to get something!"] | translate }}</h4>
</ng-template>
</div>
<table class="table" style="margin-left: 820px; width: 50px">
  <thead class="black white-text">
  <tr>
    <th scope="col">Thông tin khách hàng</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Họ và tên</th>
    <td>{{currentUser.name}}</td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td>{{currentUser.account}}</td>
  </tr>
  <tr>
    <th scope="row">Địa chỉ</th>
    <td>{{currentUser.address}}</td>
  </tr>
  <tr>
    <th scope="row" class="col-lg">Số điện thoại</th>
    <td>{{currentUser.phone}}</td>
  </tr>
  </tbody>
</table>
<br/><br/><br/><br/><br/>
<app-footer></app-footer>
