
<header class="trasparent_nav">
  <div class="wrapper">
    <div class="logo" style="margin: 15px 10px">
      <a href="#"><img src="../../../assets/images/logo3.png" alt="Fertile" height="60" width="190"></a>

    </div>

    <nav>
      <ul>
        <li><a *ngIf="!currentUser || currentUser.role == Role.Customer" class="nav-item nav-link"
               routerLink="/slide">
          {{ this.translate.data["HOME"] | translate }}</a></li>
        <li *ngIf="!currentUser || currentUser.role == Role.Customer" class="dropdown" >
          <a  class="nav-item nav-link" routerLink="/category">{{ this.translate.data["PRODUCTS"] | translate }}</a>
          <div class="dropdown-content">
            <a class="nav-item nav-link"
                                                                         routerLink="/category/0">
              Women
            </a >
            <a  class="nav-item nav-link"
                                                                          routerLink="/category/1">
              Men
            </a>
            <a  class="nav-item nav-link"
                                                                          routerLink="/category/2">
              Shoes
            </a>
            <a  class="nav-item nav-link"
                                                                          routerLink="/category/3">
              Accessories
            </a>
          </div>
        </li>
        <li><a *ngIf="!currentUser || currentUser.role == Role.Customer" class="nav-item nav-link"
               routerLink="/about">
          {{ this.translate.data["ABOUT"] | translate }}</a></li>
        <li><a *ngIf="!currentUser || currentUser.role == Role.Customer" class="nav-item nav-link"
               routerLink="/contact">
          {{ this.translate.data["CONTACT"] | translate }}</a></li>

        <li *ngIf="!currentUser || currentUser.role == Role.Customer" class="dropdown">
          <a class="nav-item nav-link" >{{ this.translate.data["Infomation"] | translate }}</a>
          <div class="dropdown-content">
            <a  class="nav-item nav-link"
                                                                         routerLink="/size">
              {{ this.translate.data["SIZE"] | translate }}
            </a >
            <a   class="nav-item nav-link"
                                                                          routerLink="/return">
              {{ this.translate.data["RETURN POLICY"] | translate }}
            </a>
            <a   class="nav-item nav-link"
                                                                          routerLink="/warranty">
              {{ this.translate.data["GUARANTEE"] | translate }}
            </a>
            <a  class="nav-item nav-link"
                                                                          routerLink="/shipping">
              {{ this.translate.data["TRANSPORT"] | translate }}
            </a>
            <a   class="nav-item nav-link"
                                                                          routerLink="/store">
              {{ this.translate.data["STORE"] | translate }}
            </a>
          </div>
        </li>
        <li class="dropdown">
          <a class="nav-item nav-link" ><i class="fa fa-globe"></i>
            Language</a>
          <div class="dropdown-content">
            <a  class="nav-item nav-link"
                href="javascript:;;" (click)="setLang(lang.langCode)"
                *ngFor="let lang of languageList">
              <i class="fa fa-flag"></i>
              {{ lang.language }} ({{ lang.langCode }})
            </a >
          </div>
        </li>
        <li ><a *ngIf="!currentUser || currentUser.role == Role.Customer"
          class="nav-item nav-link " routerLink="/cart">
          <i class="fas fa-shopping-cart"></i>
          {{ this.translate.data["Cart"] | translate }}
        </a></li>
        <ng-container *ngIf="currentUser; else noUser">
          <li><a *ngIf="currentUser.role != Role.Customer" class="nav-item nav-link " routerLink="/categoryList">
            <i class="fas fa-list-ul"></i>
            Category
          </a></li>
          <li><a *ngIf="currentUser.role != Role.Customer" class="nav-item nav-link " routerLink="/productList">
            <i class="fas fa-list-ul"></i>
            Products
          </a></li>
          <li><a class="nav-item nav-link " routerLink="/order">
            <i class="fas fa-list-ul"></i>
            Orders
          </a></li>
          <li><a *ngIf="currentUser.role != Role.Customer" class="nav-item nav-link " routerLink="/userList">
            <i class="fas fa-list-ul"></i>
            Users
          </a></li>
          <li><a class="nav-item nav-link " routerLink="/profile">
            {{name}}
          </a></li>
          <li><a class="nav-item nav-link " (click)="logout()" routerLink="/login" [queryParams]="{logout: true}">
            Sign Out
          </a></li>
        </ng-container>

        <ng-template #noUser>
          <li><a class="nav-item nav-link " routerLink="/login">
            {{ this.translate.data["Login"] | translate }}
          </a></li>
          <li><a class="nav-item nav-link " routerLink="/register">
            {{ this.translate.data["Sign up"] | translate }}
          </a></li>
        </ng-template>
      </ul>

    </nav>
  </div>
</header>



