<img src="../../../assets/images/e1.jpg" height="450" width="100%"/>
<div id="content" class="container-fluid">
  <div class="row">
    <div class="container info-about">

      <div class="row">
        <div class="col-md-12" style="padding-top: 20px">
          <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
          <style type="text/css">body {font-family: arial !important}
          </style>
          <h3 style="color: #ff7315;">1. Thời gian đổi trả</h3>

          <p>Trong vòng 15 ngày kể từ ngày mua sản phẩm (theo ngày trên hóa đơn) - Đối với các KH đặt mua ONLINE tính từ ngày KH nhận được sản phẩm.</p>

          <h3 style="color: #ff7315;">2. Địa điểm đổi trả</h3>

          <p>Áp dụng tại tất cả các cửa hàng trên toàn hệ thống của Sunrise Shop</p>

          <h3 style="color: #ff7315;">3. Điều kiện đổi trả</h3>

          <p>- Hàng đổi phải còn nguyên nhãn mác, mã vạch, chưa qua sử dụng và có hóa đơn mua hàng nguyên vẹn kèm theo (bao gồm cả các sản phẩm chất liệu thun/len/thun len, jeans).</p>

          <p>- Với các trường hợp đổi trả không có hóa đơn, Quý khách vui lòng quay lại showroom đã mua hàng để được hỗ trợ.</p>

          <p>- Sản phẩm chỉ được đổi 01 lần theo đúng quy định.</p>

          <p>- Giá trị sản phẩm đổi/trả được tính theo đơn giá trên hóa đơn mua hàng.</p>

          <p>- IVY moda chỉ sử dụng “Biên lai đặt cọc” để hoàn lại tiền thừa sau khi đổi và giá trị hàng trả cho khách, không hoàn tiền mặt trong mọi trường hợp.</p>

          <h3 style="color: #ff7315;">4. Các trường hợp từ chối đổi trả</h3>

          <p>- Thời gian mua hàng quá 15 ngày.</p>

          <p>- Nhãn mác, mã vạch không còn nguyên vẹn.</p>

          <p>- Sản phẩm đã chỉnh sửa, đã qua sử dụng (bị bẩn, rách, hỏng, rút sợi, phai màu, có mùi hôi, mùi hóa chất khác thường) hoặc bị lỗi do những tác động bên ngoài sau khi mua, hoặc các phụ kiện/chi tiết gắn liền của sản phẩm không còn đầy đủ/hư hại.</p>

          <p>- Sản phẩm mang nhãn Sunrise Secret, áo quây, áo 2 dây, các loại phụ kiện (túi xách, giày, thắt lưng…)…</p>

          <p>- Sản phẩm giảm giá trong các CTGG trên 50%, các sản phẩm thuộc chương trình đồng giá (từ 49k, 99k…).</p>

          <p><em><strong>Cảm ơn bạn đã yêu thích sản phẩm và đồng hành cùng Sunrise Shop! Mọi thắc mắc liên quan đến chính sách đổi hàng, vui lòng liên hệ 0246.662.9999</strong></em></p>

          <ol>
          </ol>

        </div>
      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>




